.noSelect {
    user-select: none;
   }
   .contactDetails{
     background-color: rgb(253, 251, 251);
     opacity: 0.8;
     padding: 10px;
   }
 
   .contactDetails p{
     word-spacing: 2.5px;
     font-size: 20px;
   }
 
   .container {
     width: 100%;
     height: 300px;
     overflow: hidden;
   } 
 
   .container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 
   }
   @media (max-width: 350px) {
    .contactDetails h1{
      font-size: 30px;
    }
    .contactDetails h3{
      font-size: 25px;
    }
    .contactDetails p{
      word-spacing: 2.0px;
      font-size: 15px;
    }
   
  }
 
 