.videoWrapper {
    display: flex;
    align-items: center;
    gap: 0;
}

.iframeStyle {
    border: none;
    width: 85%;
}

.viewMore {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.viewMore:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: bold;
    color: white;
}

@media (max-width: 650px) {
    .videoWrapper {
        flex-direction: column;
    }

    .iframeStyle {
        width: 100%;
    }

    .viewMore {
        width: 100%;
        padding: 15px 0;
    }
}